@use "colors" as colors;
@use "mixins" as *;
@use "global";

.footer {
  background-color: colors.$black;

  &__container {
    @extend .container;

    @include breakpoint-up(desktop) {
      display: flex;
      justify-content: space-between;
      max-height: toRem(180);
    }

    text-align: center;
    padding-top: toRem(40);
  }

  &__left {
    font-family: "Alata", "sans-serif";

    &-logo {
      @include breakpoint-up(desktop) {
        justify-content: end;
        text-align: left;
      }
    }

    &-links {
      padding-top: toRem(25);

      @include breakpoint-up(desktop) {
        text-align: left;
      }

      a {
        text-decoration: none;
        display: block;
        color: colors.$white;
        padding-top: toRem(17.5);
        padding-bottom: toRem(17.5);
        position: relative;

        @include breakpoint-up(desktop) {
          display: inline-block;
          padding-top: 0;
          padding-bottom: 0;
          margin-right: toRem(30);

          &::before {
            position: absolute;
            content: "";
            background-color: colors.$white;
            width: 0;
            height: toRem(3);
            left: 25%;
            right: 25%;
            bottom: toRem(-8);
            align-items: center;
            transition: 0.3s ease-in-out;
          }

          &:hover::before {
            width: toRem(25);
          }
        }
      }
    }
  }

  &__right {
    @include breakpoint-up(desktop) {
      text-align: right;
      padding-top: toRem(5);
    }

    padding-top: toRem(60);

    &-icons {
      @extend .flex, .flex-jc-c;

      @include breakpoint-up(desktop) {
        justify-content: right;
      }

      .icon {
        $icons: ("facebook", "twitter", "pinterest", "instagram");

        @each $icon in $icons {
          &.#{$icon} {
            background-image: url(/images/icon-#{$icon}.svg);
          }
        }

        background-repeat: no-repeat;
        width: toRem(25);
        height: toRem(25);
        margin-left: toRem(15);
        position: relative;

        @include breakpoint-up(desktop) {
          &::before {
            position: absolute;
            content: "";
            background-color: colors.$white;
            width: 0;
            height: toRem(3);
            left: 0;
            bottom: toRem(-8);
            transition: 0.3s ease-in-out;
          }

          &:hover::before {
            width: toRem(25);
          }
        }
      }
    }

    &-copyright {
      padding-top: toRem(30);
      padding-bottom: toRem(70);
      color: colors.$darkGray;
      font-family: "Alata", "sans-serif";
    }
  }
}